// Import all. (also works with nameSpace)
@use '../util' as *;

.section-infinite-scroll {
  background-color: #F9F9F9;
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  font-size: 2.4rem;
  margin-bottom: 2rem;

  & p {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .1rem;
  }

  & .view-grid,
  & .view-list {
    width: 4rem;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;
}

.view-list {
  display: grid;
  grid-template-columns: .35fr;
  justify-content: center;
  gap: 2.5rem;
}
  
.img-container {
  font-size: 1.6rem;
  font-weight: 500;
  color: #959595;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.08); 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  
  &:hover &__img  {
    transform: scale(1.05);
  }
  
  &__img {
    width: 66rem;
    height: 33rem;
    object-fit: cover;
    grid-column: 1 / span 2;
    transition: all 400ms ease-out;
    cursor: pointer;
  }

  &__likes,
  &__downloads {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    span {
      font-weight: 700;
      color: #646464;
    }
  }

  &__likes {
    margin-left: 1rem;
  }

  &__icon {
    width: 3rem;
  }
}

.profile-box {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: 700;
    color: #646464;
  }
  
  &__img {
    width: 5rem;
    border-radius: 50%;
    margin-left: 1rem;
  }
}

// === LOADER:
.loader {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: opacity 300ms ease-in;
  opacity: 0;
  margin: 7rem 0;
}

.loader.show {
  opacity: 1;
}

.circle {
  background-color: red;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin: .6rem;
  animation: upDown 500ms ease-in infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 100ms;
}
.circle:nth-of-type(3) {
  animation-delay: 200ms;
}

@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

// === LIGHTBOX, OVERLAY:
.hidden {
  display: none;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5555;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, .95);
  
  & img {
    border-radius: 2rem;
    max-width: 90%;
    max-height: 70%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  cursor: pointer;
}

.close {
  color: white;
  align-self: flex-start;
  font-size: 6rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: -2rem;
}




